In [13]:
import data_preprocesing
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
warnings.filterwarnings("ignore")

In [2]:
raw_path = r"C:\Users\raosw\projects\rossman_sales_project\data\raw"
preprocessed_path = r"C:\Users\raosw\projects\rossman_sales_project\data\processed"

In [3]:
df_train, df_test, df_store = data_preprocesing.load_data(raw_path)

In [4]:
print(df_train.shape)
df_train.head()

(1017209, 9)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1.0
1,2,5,2015-07-31,6064,625,1,1,0,1.0
2,3,5,2015-07-31,8314,821,1,1,0,1.0
3,4,5,2015-07-31,13995,1498,1,1,0,1.0
4,5,5,2015-07-31,4822,559,1,1,0,1.0

In [5]:
print(df_test.shape)
df_test.head()

(41088, 8)

   Id  Store  DayOfWeek       Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4 2015-09-17   1.0      1            0            0.0
1   2      3          4 2015-09-17   1.0      1            0            0.0
2   3      7          4 2015-09-17   1.0      1            0            0.0
3   4      8          4 2015-09-17   1.0      1            0            0.0
4   5      9          4 2015-09-17   1.0      1            0            0.0

In [6]:
df_train_preprocessed, df_test_preprocessed, features_train, features_test = data_preprocesing.preprocess_data(df_train, df_test, df_store, preprocessed_path)

In [7]:
print(df_train_preprocessed[features_train].shape)
df_train_preprocessed[features_train].head()

(844338, 16)

,Store,CompetitionDistance,Promo,Promo2,SchoolHoliday,StoreType,Assortment,StateHoliday,DayOfWeek,Month,Day,Year,WeekOfYear,CompetitionOpen,PromoOpen,IsPromoMonth
0,1,1270.0,1,0,1.0,3,1,0,4,7,31,2015,31,82.0,0.00,0
1,2,570.0,1,1,1.0,1,1,0,4,7,31,2015,31,92.0,64.50,1
2,3,14130.0,1,1,1.0,1,1,0,4,7,31,2015,31,103.0,52.25,1
3,4,620.0,1,0,1.0,3,3,0,4,7,31,2015,31,70.0,0.00,0
4,5,29910.0,1,0,1.0,1,1,0,4,7,31,2015,31,3.0,0.00,0

In [8]:
print(df_test_preprocessed[features_test].shape)
df_test_preprocessed[features_test].head()

(41088, 16)

,Store,CompetitionDistance,Promo,Promo2,SchoolHoliday,StoreType,Assortment,StateHoliday,DayOfWeek,Month,Day,Year,WeekOfYear,CompetitionOpen,PromoOpen,IsPromoMonth
0,1,1270.0,1,0,0.0,3,1,0,3,9,17,2015,38,84.0,0.0,0
1,3,14130.0,1,1,0.0,1,1,0,3,9,17,2015,38,105.0,54.0,0
2,7,24000.0,1,0,0.0,1,3,0,3,9,17,2015,38,29.0,0.0,0
3,8,7520.0,1,0,0.0,1,1,0,3,9,17,2015,38,11.0,0.0,0
4,9,2030.0,1,0,0.0,1,3,0,3,9,17,2015,38,181.0,0.0,0

In [12]:
df_train_preprocessed[features_train + ['Sales']]

,Store,CompetitionDistance,Promo,Promo2,SchoolHoliday,StoreType,Assortment,StateHoliday,DayOfWeek,Month,Day,Year,WeekOfYear,CompetitionOpen,PromoOpen,IsPromoMonth,Sales
0,1,1270.0,1,0,1.0,3,1,0,4,7,31,2015,31,82.0,0.00,0,5263
1,2,570.0,1,1,1.0,1,1,0,4,7,31,2015,31,92.0,64.50,1,6064
2,3,14130.0,1,1,1.0,1,1,0,4,7,31,2015,31,103.0,52.25,1,8314
3,4,620.0,1,0,1.0,3,3,0,4,7,31,2015,31,70.0,0.00,0,13995
4,5,29910.0,1,0,1.0,1,1,0,4,7,31,2015,31,3.0,0.00,0,4822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844333,682,150.0,0,0,1.0,2,1,1,1,1,1,2013,1,76.0,0.00,0,3375
844334,733,860.0,0,0,1.0,2,2,1,1,1,1,2013,1,159.0,0.00,0,10765
844335,769,840.0,0,1,1.0,2,2,1,1,1,1,2013,1,24157.0,0.25,1,5035
844336,948,1430.0,0,0,1.0,2,2,1,1,1,1,2013,1,24157.0,0.00,0,4491
844337,1097,720.0,0,0,1.0,2,2,1,1,1,1,2013,1,130.0,0.00,0,5961

In [31]:
train_x, valid_x , train_y, valid_y = train_test_split(df_train_preprocessed[features_train], df_train_preprocessed['Sales'], test_size=0.2, random_state=42)

In [32]:
print(train_x.shape)
print(valid_x.shape)
print(train_y.shape)
print(valid_y.shape)

(675470, 16)
(168868, 16)
(675470,)
(168868,)